<div id="slider">
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-4 align-self-center mb-md0 mb-4">
                <h1>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h1>
                <h4 class="mb-4">Labore excepturi dolor, voluptatibus omnis harum adipisci blanditiis eligendi atque?</h4>
                <a href="#" class="btn button-primary btn-primary button d-md-inline-block d-block mb-md-0 mb-2 me-md-2">Saiba mais</a>
                <a href="#" class="btn button-primary-outline btn-outline-primary button d-md-inline-block d-block">Contato</a>
            </div>
            <div class="col-md-8 align-self-center text-center">
                <img src="../../../assets/img/slider.svg" class="img-fluid">
            </div>
        </div>
    </div>
</div>
